## Описание колонок

`Rank` - Общий рейтинг продаж

`Name` - Название игры

`Platform` - Платформа, на которой выпущена игра (например, PC, PS4 и т.д.)

`Year` - Год выпуска игры

`Genre` - Жанр игры

`Publisher` - Издатель игры

`NA_Sales` - Продажи в Северной Америке (в миллионах)

`EU_Sales` - Продажи в Европе (в миллионах)

`JP_Sales` - Продажи в Японии (в миллионах)

`Other_Sales` - Продажи в остальном мире (в миллионах)

`Global_Sales` - Общемировые продажи.

In [3]:
import pandas as pd

df = pd.read_csv("vgsales.csv")  # ваш код здесь

### Посмотрим на данные

In [4]:
df.head()

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,1,Wii Sports,Wii,2006.0,Sports,Nintendo,41.49,29.02,3.77,8.46,82.74
1,2,Super Mario Bros.,NES,1985.0,Platform,Nintendo,29.08,3.58,6.81,0.77,40.24
2,3,Mario Kart Wii,Wii,2008.0,Racing,Nintendo,15.85,12.88,3.79,3.31,35.82
3,4,Wii Sports Resort,Wii,2009.0,Sports,Nintendo,15.75,11.01,3.28,2.96,33.00
4,5,Pokemon Red/Pokemon Blue,GB,1996.0,Role-Playing,Nintendo,11.27,8.89,10.22,1.00,31.37

### Дальше идут вопросы по датасету, на которые можно найти ответ, используя функционал библиотеки Pandas.

вопрос 1: Найдите количество уникальных игр в датасете.

In [12]:
df.Name.unique().size

11493

вопрос 2: Какова общая величина продаж игр в Японии?

In [13]:
df.JP_Sales.sum()

1291.0200000000002

вопрос 3: Какие три жанра игр самые популярные в Северной Америке (по количеству продаж)?

In [9]:
sub_df = df.groupby('Genre')
na = sub_df.sum(numeric_only = True)
na.nlargest(3, 'NA_Sales')

,Rank,Year,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Genre,,,,,,,
Action,26441383,6531731.0,877.83,525.00,159.95,187.38,1751.18
Sports,17419112,4620621.0,683.35,376.85,135.37,134.97,1330.93
Shooter,9653872,2571588.0,582.60,313.27,38.28,102.69,1037.37

вопрос 4: Какая платформа была самой популярной (по количеству выпущенных игр) в 2000 году? А в 2015?

In [45]:
year_df = df[df['Year'] == 2000]
grby = year_df.groupby('Platform').count()
print(f'В 2000 году это {grby['Rank'].idxmax()}')

year_df = df[df['Year'] == 2015]
grby = year_df.groupby('Platform').count()
print(f'В 2015 году это {grby['Rank'].idxmax()}')

В 2000 году это PS
В 2015 году это PS4

вопрос 5: Какой издатель выпустил больше всего игр в период 2012-2015 оба конца включительно?

In [64]:
from statistics import mode
popular = []
for x in range(2012, 2015 + 1):
    year_df = df[df['Year'] == x]
    grby = year_df.groupby('Publisher').count()
    popular.append(grby['Rank'].idxmax())
print(mode(popular))

Namco Bandai Games

вопрос 6: Какой процент игр в жанре спорт был продан в Европе?

In [76]:
genre_df = df[df['Genre'] == 'Sports']
print((genre_df['EU_Sales'].sum() / genre_df['Global_Sales'].sum()) * 100)

28.314787404296244